<div class="dock-headerbar-content">

    <button type="button" class="menutoggle" aria-label="Toggle application menu" aria-controls="idLeftPanel" aria-expanded="true"><i class="fa fa-bars" aria-hidden="true"></i></button>

    <form class="searchform dock-app-search" v-on:submit="submitSearch" autocomplete="off">
        <input
            type="text"
            class="form-control"
            name="keyword"
            placeholder="Search apps..."
            v-model="searchQuery"
            v-on:input="updateSearch"
            v-on:focus="openSearch"
            v-on:blur="closeSearch"
            v-on:keydown.down.prevent="moveSearchSelection(1)"
            v-on:keydown.up.prevent="moveSearchSelection(-1)"
            v-on:keydown.esc.prevent="dismissSearch"
            aria-label="Search and launch applications"
            v-bind:aria-expanded="searchOpen ? 'true' : 'false'" />

        <div class="dock-app-search-results" v-show="searchOpen">
            <button
                type="button"
                class="dock-app-search-result"
                v-for="(result, index) in searchResults"
                v-bind:class="{'is-active': index === activeSearchIndex}"
                v-on:mousedown.prevent
                v-on:click="launchSearchResult(result)">
                <img v-if="result.icon" v-bind:src="result.icon" alt="" class="dock-app-search-icon" />
                <span v-if="!result.icon" class="dock-app-search-fallback"><i class="fa fa-cube"></i></span>
                <span class="dock-app-search-labels">
                    <strong>{{result.title}}</strong>
                    <small>{{result.subtitle}}</small>
                </span>
            </button>
            <div class="dock-app-search-empty" v-if="searchMessage">{{searchMessage}}</div>
        </div>
    </form>

    <div class="header-right">
        <ul class="headermenu">
        
        <li>
            <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="dock-user-avatar" aria-hidden="true">{{userInitial()}}</span>
                {{userData.email}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                <li><a href="#/app/profileapp.v1"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                <li><a href="#/account"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                <li><a href="#/help"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                <li><button type="button" class="dock-user-menu-action" v-on:click="signout()"><i class="glyphicon glyphicon-log-out"></i> Log Out</button></li>
            </ul>
            </div>
        </li>
        </ul>
    </div><!-- header-right -->

</div><!-- dock-headerbar-content -->
