<div class="logopanel">
    <h1><span>[</span> DAVVAG <span>]</span></h1>
</div><!-- logopanel -->
    
<div class="leftpanelinner">    
  <h5 class="sidebartitle">&nbsp;</h5>
  <ul class="nav nav-pills nav-stacked nav-bracket">
    <li class="active">
        <a href="#/home">
            <i class="fa fa-home"></i> <span>Home</span>
        </a>
    </li>
    <li v-for="(value, key, index) in apps" :class="value.config.dock==null?'':'nav-parent'" style="cursor:pointer">
        <a v-if="!value.config.dock" v-on:click="navigateApp(key,value)">
            <!-- <span class="pull-right badge badge-success">2</span> -->
            <span v-if="value.icon"><img :src="'assets/' + key + '/' + value.icon" class="left-menu-appitem"/> <span>{{value.title}}</span></span>
            <span v-if="!value.icon"><i class="fa fa-code"></i> <span>{{value.title}}</span></span>
        </a>
       <a v-if="value.config.dock" role="button" tabindex="0">
          <!-- <span class="pull-right badge badge-success">2</span> -->
          <span v-if="value.icon"><img :src="'assets/' + key + '/' + value.icon" class="left-menu-appitem"/> <span>{{value.title}}</span></span>
          <span v-if="!value.icon"><i class="fa fa-code"></i> <span>{{value.title}}</span></span>
      </a>
        <ul class="children" v-if="value.config.dock">
          <li v-for="t in value.config.dock.subapps" class="" style="cursor:pointer">
            <a v-on:click="navigateSubapp(key,value,t.path)"> {{ t.name }} </a>
          </li>
        </ul>
    </li>
  </ul>
  
  
</div><!-- leftpanelinner -->
