  <div class="col-sm-12" style="padding-bottom: 10px;">
          
          <h6 class="card-title" style="color: firebrick;">You can Also buy bellow items Individually</h6>
          <table style="width: 100%;">
            <thead  style="background-color: black;color: white;">
              <tr>
                <th scope="col">Name</th>
                <th scope="col" style="width: 25%;text-align: center;">Quantity</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tr v-for="i in product.groupItems">
              <td style="width: 40%;">{{ i.name }}</td>
              <td style="width: 25%;text-align: center;">{{i.qty }}</td>
              <td style="width: 35%;text-align: right;">
                <div v-if="i.qty>0">
                  <button v-if="i.sellstype=='se' || i.sellstype=='tr-se'" type="button" class="btn bg-primary-button" v-on:click="additem(i,true)">Add</button>
                  <button v-if="i.sellstype=='tr' || i.sellstype=='tr-se'" type="button" class="btn bg-primary-button" v-on:click="trade(i)">Trade</button>
                </div>
              </td>
            </tr>
          </table>
       
        <h6 v-if="product.qty>0" class="card-title" style="color: forestgreen;">Or Click Bellow to buy the whole package</h6>
        
      
</div>
<div v-if="!isEditable(product)" class="modal-footer">
  <div v-if="product.qty>0">
  <button v-if="product.sellstype=='se' || product.sellstype=='tr-se'" type="button" class="btn bg-primary-button pull-left" v-on:click="additem(product,true)">Add</button>
  <button v-if="product.sellstype=='tr' || product.sellstype=='tr-se'" type="button" class="btn bg-primary-button pull-left" v-on:click="trade(product)">Trade</button>
  </div>
</div>
