<div class="input-form profile-v1-app banking-settings-app">
  <div class="input-error">
    <div class="alert alert-danger" v-if="submitErrors" v-for="error in submitErrors">
      <strong>ERROR! </strong> {{error}}
    </div>
    <div class="alert alert-info" v-if="submitInfo" v-for="error in submitInfo">
        <strong>INFO! </strong> {{error}}
      </div>
  </div>
  <form v-if="data.id" id="maindisplay" class="activeForm" onsubmit="event.preventDefault();">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="banking-heading-text">
          <h4 class="panel-title"><i class="fa fa-clock-o"></i> Deposit Request Submitted</h4>
        </div>
      </div>
      <div class="panel-body">
        <p>
      You have submitted a bank deposit or transfer slip and it is in 
      <strong style="color:darkblue;">"{{ data.status }}"</strong> status. 
      As soon as we verify from the bank we will credit the amount of {{ data.currencycode }}.{{ data.dipositAmount }} to your account. If a change needs to be made, please click 
      <strong style="color:darkred;">"Delete this Request"</strong> and you will be able to resend the request to us.
        </p>
        <div class="banking-form-actions">
          <button type="button" class="btn btn-default" v-on:click="navigateback"><i class="fa fa-arrow-left"></i> Go Back</button>
          <button type="button" class="btn btn-primary" v-on:click="navigateback"><i class="fa fa-trash-o"></i> Delete This Request</button>
        </div>
      </div>
    </div>
  </form>
  <form v-if="!data.id" id="maindisplay" class="activeForm" onsubmit="event.preventDefault();">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="banking-heading-text">
          <h4 class="panel-title"><i class="fa fa-university"></i> Select A Bank</h4>
          <p>Choose the account you will transfer or deposit to.</p>
        </div>
      </div>
      <div class="panel-body">
        <ul class="list-group list-group-flush" v-if="data.banks">
          <li class="list-group-item" v-on:click="navigateApp(item)" v-for="item in banks">
            <i class="fa fa-university"></i> {{ item.bank_name }}
          </li>
        </ul>
        <div class="banking-form-actions">
          <button v-if="!data.banks" type="button" class="btn btn-default" v-on:click="navigateback"><i class="fa fa-arrow-left"></i> Go Back</button>
        </div>
      </div>
    </div>
  </form>
  <form id="bankdisplay" class="inactiveForm" onsubmit="event.preventDefault();">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="banking-heading-text">
          <h4 class="panel-title"><i class="fa fa-list-alt"></i> Bank Details</h4>
          <p>Use these details for the transfer, then submit the deposit information.</p>
        </div>
      </div>
      <div class="panel-body">
        <div class="banking-detail-list">
          <div class="banking-detail-row"><strong>Bank Name</strong><span>{{ bank.bank_name }}</span></div>
          <div class="banking-detail-row"><strong>Account Holder</strong><span>{{ bank.bank_accountname }}</span></div>
          <div class="banking-detail-row"><strong>Account No</strong><span>{{ bank.bank_accountno }}</span></div>
          <div class="banking-detail-row"><strong>Branch Code</strong><span>{{ bank.bank_branch_code }}</span></div>
          <div class="banking-detail-row"><strong>Swift Code</strong><span>{{ bank.bank_swift_code }}</span></div>
        </div>
        <div v-if="bank.qr_code" class="form-group">
          <img :src="bank.qr_code" class="banking-image-preview banking-qr-preview">
          <small class="form-text text-muted">Scan QR Code to transfer from your banking app.</small>
        </div>
        <div class="banking-form-actions">
          <button type="button" class="btn btn-default" v-on:click="back"><i class="fa fa-arrow-left"></i> Back</button>
          <button type="button" class="btn btn-primary" v-on:click="submition"><i class="fa fa-upload"></i> Submit Transfer or Deposit Information</button>
        </div>
      </div>
    </div>
  </form>
  <form id="banksubmition" class="inactiveForm" onsubmit="event.preventDefault();">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="banking-heading-text">
          <h4 class="panel-title"><i class="fa fa-upload"></i> Deposit Details</h4>
          <p>Submit the transfer reference and any slip image for verification.</p>
        </div>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="name">Name *</label>
          <input type="text" id="name" class="form-control" placeholder="Enter Name" v-model="data.name">
        </div>
        <div class="form-group">
          <label for="contactno">Contact No *</label>
          <input type="number" id="contactno" class="form-control" placeholder="Enter Contact No" v-model="data.contactno">
          <small class="form-text text-muted">We'll never share your contact no with anyone else.</small>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" v-model="data.email" >
        </div>
        <div class="form-group">
          <label>Remarks</label>
          <textarea class="form-control deliveryAddress" v-model="data.remarks" placeholder="Transfer reference or remarks related to this transaction"></textarea>
        </div>
        <div class="form-group">
          <label>Deposit Amount *</label>
          <input type="number" class="form-control" v-model="data.dipositAmount">
        </div>
        <div class="form-group">
          <label>Transfer Slip</label>
          <img v-if="bank_slip" :src="bank_slip" class="banking-image-preview"/>
          <input type="file" class="form-control" accept="image/png, image/jpeg" @change="onFileChange">
          <small class="form-text text-muted">Attach a deposit slip or transfer slip if available.</small>
        </div>
        <div class="banking-form-actions">
          <button type="button" class="btn btn-default" v-on:click="submitionback"><i class="fa fa-arrow-left"></i> Back</button>
          <button type="button" class="btn btn-primary" v-on:click="save"><i class="fa fa-check"></i> Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>

