<div class="contentpanel profile-v1-app profile-page">
  <div class="row row-pad-12">
    <div class="col-lg-4">
        <select class="form-control mb15" v-model="SearchColumn">
            <option>id</option>
            <option>name</option>
            <option>email</option>
            <option>contactno</option>
            <option>organization</option>
            <option>catogory</option>
            <option>id_number</option>
            <option>passportno</option>
        </select>
    </div>
    <div class="col-lg-8">
        <div class="profile-search-bar mb15">
            <input type="text" class="form-control" placeholder="Search" v-model="SearchItem"/>
            <button type="button" class="btn btn-default" v-on:click="searchItems(SearchColumn,SearchItem);"><i class="fa fa-search"></i> Search</button>
            <button class="btn btn-primary" v-on:click="navigate('edit',null)"><i class="fa fa-plus"></i> New Profile</button>
        </div>
    </div>
    
</div>
  <div class="mb30"></div>
  
  <div class="people-list">
    <div class="row">
        <h1><center>{{ Message }}</center></h1>
    </div>
    
    <div class="row profile-card-grid">
      
      <div class="col-md-6 profile-card-col" v-for="profile in items">
        <div class="people-item">
          <div class="media">
            
            <img alt="" :src="profile.image" class="pull-left thumbnail media-object" v-on:click="navigate('view',profile)">
            
            <div class="media-body">
              <h4 class="person-name" v-on:click="navigate('view',profile)">{{ profile.name }}</h4>
              <div class="text-muted"><i class="fa fa-map-marker"></i> {{ profile.city }}, {{ profile.country }}</div>
              <div class="text-muted"><i class="fa fa-briefcase"></i> {{ profile.organization }}</div>
              <div class="profile-position"><i class="fa fa-star"></i>  <span :class="'label label-'+status(profile.Status)"> {{ profile.Status }}</span></div>
              <ul class="social-list profile-actions">
                <li><button class="btn btn-default" v-on:click="navigate('view',profile)"><i class="fa fa-eye"></i> View</button></li>
                <li><button class="btn btn-default" v-on:click="navigate('edit',profile)"><i class="fa fa-pencil"></i> Edit</button></li>
                <li><button class="btn btn-default" v-on:click="navigate('inv',profile)"><i class="fa fa-file-text-o"></i> Invoice</button></li>
                <li><button class="btn btn-default" v-on:click="navigate('rpt',profile)"><i class="fa fa-credit-card"></i> Payment</button></li>
                <li><button class="btn btn-default" v-on:click="navigate('dip',profile)"><i class="fa fa-archive"></i> Deposits</button></li>
                <li><button class="btn btn-default" v-on:click="navigate('col',profile)"><i class="fa fa-list"></i> Collection</button></li>
                <li><button class="btn btn-default" v-on:click="navigate('po',profile)"><i class="fa fa-shopping-cart"></i> Purchase Order</button></li>
              </ul>
              <ul v-for="app in Launchers" class="social-list profile-actions launcher-actions">
                <li :class="subapp.Launchers.length!=0?'nav-item dropdown':'nav-item'" v-for="subapp in app.Launchers">
                  <a v-if="subapp.Launchers.length!=0" class="nav-link dropdown-toggle" :id="'drp'+subapp.bid.toString()" :href="subapp.url" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ subapp.name }}</a>
                  <a v-if="subapp.Launchers.length==0" class="nav-link" v-on:click="appLauncher(subapp,{})"> {{ subapp.name }}</a>
                  <div class="dropdown-menu" :aria-labelledby="'drp'+subapp.bid.toString()">
                    <a v-for="subapp1 in subapp.Launchers" class="dropdown-item" v-on:click="appLauncher(subapp1,{})"> {{ subapp1.name }}</a>
                  </div>
                </li>
              </ul>
                
            </div>
          </div>
        </div>
      </div><!-- col-md-6 -->
    </div><!-- row -->
    <div class="profile-list-footer" v-if="items && items.length">
      <button class="btn btn-default" v-on:click="clear"><i class="fa fa-trash-o"></i> Clear History</button>
    </div>
  </div><!-- people-list -->
  
</div>
